{% extends "Base.twig" %}

{%- block Header -%}
    {{ parent() }}
{% endblock %}

{%- block Container -%}
    <h2 class="Bold InlineBlock" style="margin-bottom: 6px;"><i class="far fa-newspaper"></i>   Create News Post</h2><br>
    <a href="/Admin/" class="Caption" style="display: inline-block;"><i class="far fa-backward"></i> Go Back</a><br><br>
    <hr><br>
    <form action="/Admin/News/Create" method="POST" enctype="multipart/form-data">
        <div class="LeftSide">
            <div class="SignInForm">
                <div class="FormField">
                    <span class="Middle">News Title:</span>
                    <input type="text" name="title" placeholder="Crapblox bombing kills 300" class="InputText InlineBlock">
                </div>
                <div class="FormField">
                    <span class="Middle">News Text:</span>
                    <textarea id="newsinput" type="text" name="comment" class="InputText InlineBlock" style="resize: vertical;width: 63%;height: 105px;vertical-align: top;"></textarea>
                </div>
                <span class="Caption">All actions are logged.</span>
                <input type="submit" class="SubmitButton Medium Green Right" value="Create News">
            </div>
        </div>
    </form>
    <h2>Preview</h2>
    <hr>
    <div id="preview"></div>
    <style>
        .RobloxContainer {
            min-height: 400px;
            overflow: hidden;
        }

        footer {
            height: 600px;
        }
    </style>
    <script>
        $('#newsinput').on('input', function() {
            $('#preview').html($('#newsinput').val())
        });
    </script>
{% endblock %}

{%- block Footer -%}
{{ parent() }}
{% endblock %}