<footer class="RobloxFooter">
    <div class="RobloxContainer">
        <a href="/" class="LogoLink">
            <img class="Logo" src="/Images/LogoSquare.png">
        </a>
        <div class="Top InlineBlock" style="margin-left: 10px;">
            <span>Built with <i class="fab fa-php"></i>, <i class="fab fa-js"></i>, and <i class="far fa-heart"></i></span><br>
            <span class="Caption" style="font-size: 10px">
                <a href="https://discord.gg/crapblox">Discord</a> | <a href="https://discord.gg/crapblox">Support</a> | <a href="#">Privacy</a> | <a href="#">Terms of Service</a> | <a href="/Stocks">Market</a>
            </span><br>
            <span class="Caption" style="display: inline-block;width: 700px;">
                "{{ Quote }}"
            </span>
        </div>
    </div>
</footer>