/* Dark */
header {
    background-color:#2f2f2f;
    border-color: #000;
    background-image:url('https://wsrv.nl/?url=https://i.imgur.com/OQ2jfeb.png');
}

body {
    background-color: #1f1f1f;
    color: #fafafa;
}

.FeedForm, .RobloxContainer {
    background: #1f1f1f!important;
    border-color: #3f3f3f!important;
    box-shadow: none!important;
}

.SecondHeader, .RobloxHeader {
    border-left: none;
    border-right: none;
}

.BlogTitle, .AuthorLink, .BuilderInfo a, .ItemPanel, .UserInfo a, .Caption a, .item-panel a, .GamePanel, .GameMetadata, .page-numbers, .TransactionDetails a {
    color: #71a1f0!important;
}

#BuyAsset div[style='padding: 1px;background-color: #e1e1e1;'], .field input {
    background-color: #1f1f1f!important;
}

.Dividers, hr, .Comment, .InputText, .SidebarItems a, .Sidebar, .GameInfo, .ItemPanel, .stock-owned-container, header .Search form input, .User, .item-thumbnail, .ItemActions, .GamesList a, .GamePanel, .modal, .pagination-area, .SecondHeader, .GroupPageSide, .GroupSearch, .LeftSide.GroupPage, .SearchForm, .Game, .Thumbnail, .GamesInfo, .TabGroup, .field input, .HomepageProfilePicture, .UserGamesContainer {
    border-color: #4f4f4f!important;
}

.PlayerCount {
    background: #4f4f4f;
}

b[style="color:darkgreen;"] {
    color: #0aa10a!important;
}

.SidebarItems a:hover, header .Actions a:hover, div[style="padding: 1px;background-color: #e1e1e1;"] {
    background: #3f3f3f!important;
}

.Comment:hover, .ItemPanel:hover, .GameInfo:hover, .User:hover, .GamePanel:hover, .Game:hover {
    background: #2f2f2f;
}

.Thumbnail, .LeftSide.GamesPage img, .video-extras-sparkbars {
    box-shadow: none;
}

.Game a, .ItemMetadata {
    color: #fafafa;
}

.Limited {
    background: linear-gradient(0deg, rgb(65 50 66 / 28%) 0%, rgb(82 62 84 / 58%) 100%)
}

.Tab a {
    color: #fafafa;
}

.SubmitButton, .Tab, .slider {
    border-color: #3f3f3f!important;
    background: #2f2f2f!important;
    color: #fafafa!important;
    text-decoration: none;
}

.InputText, .ItemActions {
    background: #1f1f1f!important;
    color: #fafafa!important;
}

.Sidebar, .Active {
    background: #1f1f1f!important;
}

.SidebarItems a, .Sidebar .GameInfo, .GamesList a, .modal, .pagination-area, .GroupPageSide, .GroupSearch, .SearchForm, .LeftSide.GroupPage {
    background: #2f2f2f!important;
    color: #fafafa;
}

footer, html, footer .RobloxContainer {
    background: #0f0f0f!important;
    color: #fafafa;
}

#piechart rect {
    fill: #1f1f1f;
}

#piechart text {
    fill: #fafafa;
}

.google-visualization-tooltip path {
    fill: #1f1f1f;
    stroke: #000;
}

footer, html, footer .RobloxContainer {
    background: #262626!important;
    color: #fafafa;
    border-top: 1px solid #363636;
}

.CardBig {
    border: 1px solid #484848;
    padding: 10px;
    border-radius: 4px;
}

.Columns a {
    line-height: 22px;
    color: #dbdbdb;
}

.field input.input-max {
    color: #ededed;
}

.field input.input-min {
    color: #ededed;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #dd74da;
    box-shadow: inset 0px 0px 0px rgb(255 255 255 / 50%), 0px 3px 2px rgb(0 0 0 / 10%);
    background: linear-gradient(0deg, rgb(113 161 221) 0%, rgb(73 112 199) 100%);
    border: 1px solid #5b86b3;
}

.Limited {
    background: linear-gradient(0deg, rgb(65 50 66 / 28%) 0%, rgb(125 124 173 / 58%) 100%);
}

.SerialNumber {
    position: absolute;
    background: linear-gradient(0deg, rgb(80 97 180) 0%, rgb(109 121 180) 100%);
    border: 1px solid #564fb9;
    text-decoration: none;
    color: white;
    padding: 3px;
    min-width: 25px;
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #748ddd;
    position: relative;
    bottom: 2px;
    background: linear-gradient(0deg, rgb(113, 147, 221) 0%, rgb(73, 136, 199) 100%);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #5b81b3;
}

.Friend .ItemThumbnail {
    width: 107px;
    height: 107px;
    position: relative;
    right: 5px;
    bottom: 5px;
    border-bottom: 1px solid #4f4f4f;
}

.modal {
    border-radius: 0px;
    border: 1px solid #ccc;
    background-color: #242424 !important;
}

.AvatarItems {
    padding: 23px;
    margin-left: 5px;
    border-left: 1px solid #4c4c4c;
}

table a {
    color: white;
}

.InlineBlock.Top p {
    color: white;
}

.Forums td {
    border-bottom: 1px solid #313131;
    border-left: 1px solid #313131;
    background-color: #1f1f1f;
    color: white
}

table.Forums {
    border: 1px solid #313131;
}

#forum_reply_modal {
    background-color: #2f2f2f !important;
    border: 1px solid #464646 !important;
}