<html>
    <link href="/Styles/Base.css" rel="stylesheet">

    <br>
    <div class="Center">
        <h2 style="font-weight: bold" class="NoMargin"><img src="/Images/Silk/camera.png" style="vertical-align: middle"> Took a screenshot!</h2>
        <span class="Caption">Check your screenshots folder to see other photos you have taken.</span>
        <hr>
        <img src="file://{{ Args.filename }}" style="width: 640px">
    </div>
</html>